$bg: #fbf0e3;
$primary: #1E1E1E;
$secondary: #c7c5c5;
$tertiary: #8687E7;

$text: #051923;
$textLight: #F5F5F5;


// Font size
$xxl: 48px;
$xl: 36px;
$lg: 30px;
$md: 24px;
$sm: 20px;
$xs: 16px;
$xxs: 12px;

$fontPrimary: "Work Sans", sans-serif;
