$bg: #fbf0e3;
$primary: #1E1E1E;
$secondary: #F5F5F5;
$tertiary: #8687E7;

$text: #051923;

// Font size
$xxl: 48px;
$xl: 36px;
$lg: 30px;
$md: 24px;
$sm: 20px;
$xs: 16px;

$font-primary: "Work Sans", sans-serif;
