@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.navbar {
  display: flex;
  align-items: center;
  font-family: v.$fontPrimary;
  margin-block: 25px;
  border-bottom: 0.5px solid v.$textLight;
  padding-bottom:20px;

  a {
    text-decoration: none;
    color: v.$textLight;
    padding-inline: 1.5rem;
  }

  .navBtn {
    position: absolute;
    right: 25px;
  }
}
