@use "../../styles/mixins.scss" as m;

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @include m.phone {
    width: 90%;

    .navHome {
      
    }
  }
}
