@use "../../styles/mixins.scss" as m;

.pageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  margin: 0 auto;

  @include m.phone {
    width: 90%;
  }

  @include m.laptop {
    width: 75%;
  }

  @include m.desktop {
    width: 60%;
  }
}
