.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  // .contentWrapper {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   padding: 1rem;
  // }
}

.tasksContainer {
  padding-block: 4rem;
  width: 100%;
}
