@use "../../styles/variables.scss" as v;

form {
  display: flex;
  margin-bottom: 4rem;

  .formInput {
    color: rgba(0,0,0,.87);
    border: none;
    border-bottom: 2px solid v.$primary;
    letter-spacing: .002em;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px 6px;
    height: 3rem;
    font-family: v.$font-primary;
    margin-bottom: 1rem;

    &:hover{
      border-bottom-color: v.$primary;
    }
    &:focus{
      border-color: v.$primary;
    }
  }

  .errorText {
    font-size: v.$xs;
    color: red;
  }

  .successText {
    color: green;
  }
}
