@use "../../styles/variables.scss" as v;

.formInput {
  font-family: v.$fontPrimary;
  color: rgba(0, 0, 0, 0.591);
  margin-block: 10px;
  padding: 0.4rem;
  border: 1px solid lightgray;
  height: 34px;
  appearance: none;
  border-radius: 8px;
  font-size: v.$xxs;
  outline: none;
}

.btnContainer {
  display: flex;
  gap: 0.4rem;

  button {
    flex: 1;
  }
}

.errorText {
  font-size: v.$xs;
  color: red;
}
