@use "../../styles/variables.scss" as v;

.taskWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    border: 1.5px solid v.$secondary;
    padding: 10px;
    margin: 6px;
    border-radius: 8px;

    .taskDetails {
      flex-grow: 1;
      font-family: v.$fontPrimary;

      .taskTitle {
        color: v.$text;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        line-height: 0;
      }
    }
  }

  .btnDone {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    border: 2px lightgray solid;
    background: transparent;
    cursor: pointer;

    &:hover {
      background: lightgrey;
    }
  }

  .categoryTag {
    font-family: "Work Sans", sans-serif;
    color: v.$textLight;
    background: v.$tertiary;
    padding: 0.4rem;
    border-radius: 8px;
  }
}
